[loggers]
keys = root,rvlistener,rvweb,rvapi,csrlistener,agentstatus,cve

[handlers]
keys = root,rvlist_file,rvweb_file,rvapi_file,csrlist_file,agentstatus_file,cve_file

[formatters]
keys = default

[logger_root]
level = INFO
propagate = 0
qualname = root
handlers = root

[logger_rvlistener]
level = INFO
propagate = 0
qualname = rvlistener
handlers = rvlist_file

[logger_rvweb]
level = INFO
propagate = 0
qualname = rvweb
handlers = rvweb_file

[logger_rvapi]
level = INFO
propagate = 0
qualname = rvapi
handlers = rvapi_file

[logger_csrlistener]
level = INFO
propagate = 0
qualname = csrlistener
handlers = csrlist_file


[logger_agentstatus]
level = INFO
propagate = 0
qualname = agentstatus
handlers = agentstatus_file

[logger_cve]
level = INFO
propagate = 0
qualname = cve
handlers = cve_file


[handler_root]
class = StreamHandler
stream = sys.stdout
args = (sys.stdout,)
level = INFO
formatter = default

[handler_rvlist_file]
class = handlers.TimedRotatingFileHandler
interval = midnight
backupcount = 5
args = ("/opt/TopPatch/var/log/rvlist_file.log",)
level = INFO
formatter = default

[handler_rvweb_file]
class = handlers.TimedRotatingFileHandler
interval = midnight
backupcount = 5
args = ("/opt/TopPatch/var/log/rvweb_file.log",)
level = INFO
formatter = default

[handler_rvapi_file]
class = handlers.TimedRotatingFileHandler
interval = midnight
backupcount = 5
args = ("/opt/TopPatch/var/log/rvapi_file.log",)
level = INFO
formatter = default

[handler_csrlist_file]
class = handlers.TimedRotatingFileHandler
interval = midnight
backupcount = 5
args = ("/opt/TopPatch/var/log/csrlist_file.log",)
level = INFO
formatter = default


[handler_agentstatus_file]
class = handlers.TimedRotatingFileHandler
interval = midnight
backupcount = 5
args = ("/opt/TopPatch/var/log/agentstatus_file.log",)
level = INFO
formatter = default

[handler_cve_file]
class = handlers.TimedRotatingFileHandler
interval = midnight
backupcount = 5
args = ("/opt/TopPatch/var/log/cve_file.log",)
level = INFO
formatter = default

[formatter_default]
format = %(asctime)s - %(name)s - %(levelname)s - %(message)s
datefmt = %Y-%m-%d %H:%M:%S

