<section class="span12 list">
    <header class="clearfix">
        <div class="pull-left">&nbsp;</div>
        <div class="pull-right">
            <button class="btn btn-mini disabled" id="list-export">
                <span>Export</span>&nbsp;<i class="icon-download-alt"></i>
            </button>
        </div>
    </header>
    <div class="items">
        <div class="item row-fluid">
            <span class="desc span8">&nbsp;</span>
            <span class="span4 alignRight">&nbsp;</span>
        </div>
    </div>
    <footer class="clearfix">
        <div class="pull-left">&nbsp;</div>
        <div class="pull-right hidden-print">
            <button class="btn btn-mini disabled" id="list-pagePrev">
                Previous
            </button>
            <button class="btn btn-mini disabled" id="list-pageNext">
                Next
            </button>
        </div>
    </footer>
</section>