<form class="form-horizontal" id="passwordForm">
    <div class="control-group">
        <label class="control-label">Password:</label>
        <div class="controls">
            <input type="password" id="password" class="input-medium" required/>
        </div>
    </div>
    <div class="control-group">
        <label class="control-label">Confirm Password:</label>
        <div class="controls">
            <input type="password" id="cpassword" class="input-medium" required/>
            <span class="help-online hide" data-name="message"></span><br><br>
            <button class="btn btn-primary" id="validateForm">Submit</button>
        </div>
    </div>
</form>