<% if (data) { %>
    <article>
        <form>
            <section class="row-fluid">
                <div class="span6">
                    <label class="control-label">Syslog Server:</label>
                    <input type="text" name="host" value="<% print(data.syslog.loghost || '') %>"/>
                </div>
                <div class="span4">
                    <label class="control-label">Protocol:</label>
                    <select name="proto">
                        <option <% if (data.syslog.logproto && data.syslog.logproto === 'UDP') { print('SELECTED'); } %> value="udp">UDP</option>
                        <option <% if (data.syslog.logproto && data.syslog.logproto === 'TCP') { print('SELECTED'); } %> value="tcp">TCP</option>
                    </select>
                </div>
            </section>
            <section class="row-fluid">
                <div class="span6">
                    <label class="control-label">Port #:</label>
                    <input type="text" name="port"  value="<% print(data.syslog.logport || '') %>"/>
                </div>
                <div class="span4">
                    <label class="control-label">Verbose:</label>
                    <select name="level">
                        <option <% if (data.loglevel && data.loglevel === 'NOTSET') { print('SELECTED'); } %> value="NOTSET">Not Set</option>
                        <option <% if (data.loglevel && data.loglevel === 'DEBUG') { print('SELECTED'); } %> value="DEBUG">Debug</option>
                        <option <% if (data.loglevel && data.loglevel === 'INFO') { print('SELECTED'); } %> value="INFO">Info</option>
                        <option <% if (data.loglevel && data.loglevel === 'WARNING') { print('SELECTED'); } %> value="WARNING">Warning</option>
                        <option <% if (data.loglevel && data.loglevel === 'ERROR') { print('SELECTED'); } %> value="ERROR">Error</option>
                        <option <% if (data.loglevel && data.loglevel === 'CRITICAL') { print('SELECTED'); } %> value="CRITICAL">Critical</option>
                    </select>
                </div>
            </section>
            <section class="row-fluid">
                <div class="span10">
                    <div class="alert alert-block fade in hide">
                        <span class="help-inline"></span>
                    </div>
                </div>
            </section>
            <section class="row-fluid">
                <div class="span6"></div>
                <div class="span4 alignRight">
                    <button class="btn btn-primary" name="submitSyslog">Save</button>
                </div>
            </section>
            <section class="row-fluid">
                <div class="list span12" style="margin-top: 5px;">
                    <header class="clearfix">
                        <span>Log Locations:</span>
                    </header>
                    <div class="items">
                        <% if (data.logfiles.length !== 0) { %>
                            <% _.each(data.logfiles, function (logfile) { %>
                                <div class="item">
                                    <span class="desc"><%= logfile %></span>
                                </div>
                            <% }); %>
                        <% } else { %>
                            <div class="item">
                                <em>No logs found</em>
                            </div>
                        <% } %>
                    </div>
                </div>
            </section>
        </form>
    </article>
<% } %>