<div class="items">
    <% if(data['patch/need'] && data['patch/need'].length > 0) { %>
        <% _.each(data['patch/need'], function (patch, i) { %>
            <div class="item clearfix" title="<%= patch.name %>">
                <div class="row-fluid">
                    <span class="desc span11"><%= patch.name %></span>
                    <span class="patches span1 alignRight">
                        <input type="checkbox" name="patches" value="<%= patch.id %>"
                            <%  if(checked.length !== 0 ) { %>
                                <% _.each(checked, function(check, j) {  %>
                                    <% if(check.node_id == data.id) { %>
                                        <% _.each(check.data, function(patch_id, k) { %>
                                            <% if(patch_id == patch.id) { %>
                                                    checked
                                            <% } %>
                                        <% }); %>
                                    <% } %>
                                <% }); %>
                            <% } %>
                        />
                    </span>
                </div>
            </div>
        <% }); %>
    <% } else { %>
        <div class="item"><small><em>No patches available to install</em></small></div>
    <% } %>
</div>
