<div class="row-fluid" style="border-top: 1px solid #ccc; padding-top: 10px;">
    <div class="span6">
        <div class="control-group">
            <label class="control-label" for="<%= viewId%>-rvOperation">RV Operation</label>
            <div class="controls">
                <select id="<%= viewId%>-rvOperation" class="btn btn-mini input-medium rvOperationType">
                    <%= defaultOptions.getSelectOptions(defaultOptions, 'rv_operation_types','name','name') %>
                </select>
            </div>
        </div>
    </div>
    <div class="span6">
        <div class="control-group">
            <label class="control-label" for="<%= viewId%>-rvOperationStatus">RV Operation Status</label>
            <div class="controls">
                <select id="<%= viewId%>-rvOperationStatus" class="btn btn-mini input-medium rvOperationStatus">
                    <%= defaultOptions.getSelectOptions(defaultOptions, 'rv_thresholds','name','name') %>
                </select>
            </div>
        </div>
    </div>

</div>