<section class="navbar container">
    <nav class="navbar-inner noBorder noRadius noShadow clearfix" id="primaryNav">
        <span class="brand">
            <a href="#"><img src="img/brand-name.png" alt="Top Patch"></a> | <small>v</small>F<small>ense</small>
        </span>
        <div class="btn-group pull-right noMargin hidden-print" id="userMenu">
            <a class="btn btn-primary dropdown-toggle" data-toggle="dropdown" href="#">
                <i class="icon-user"></i>&nbsp;<span><%= username %></span>&nbsp;<i class="icon-caret-down"></i>
            </a>
            <ul class="dropdown-menu">
                <li><a href="#account">Account Settings</a></li>
                <li class="divider"></li>
                <li><a href="#logout">Logout</a></li>
            </ul>
        </div>
    </nav>
    <nav class="navbar-inner clearfix hidden-print" id="dashboardNav">
        <ul class="nav pull-right"></ul>
    </nav>
    <hr class="visible-print noMargin">
</section>
